@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
a {
  text-decoration: none;
  margin: 0;
}

ul,
h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 115px;
  }
}

:root {
  --accent-color: #d41443;
  --accent-hover: #740924;
  --main-text-color: #ffffff;
  --sec-text-color: #ffa5ba;
  --black-text-color: #000000;
  --grey-text-color: #907e82;
  --pink-bgd: #ffb8ca;
  --mobile-menu-bgd: #e17992;
  --beige-bgd: #f0d1a5;
  --green-bgd: #c2e297;
  --light-bgd: #fff5f6;
  --social-bgd: #fea5bb;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 480px;
}

.header {
  width: 100%;
  background-color: #ffb8ca;
}

.logo {
  cursor: pointer;
}

.header-container {
  padding-top: 6px;
}

.header__burger-button {
  cursor: pointer;
  display: block;
  padding: 0;
  border: none;
  background: transparent;
}

.button {
  padding: 0px 36px;
  min-width: 159px;
  height: 44px;
  background: #fff;
  border-radius: 22px;
  font-weight: 700;
  color: #d41443;
  border: transparent;
  cursor: pointer;
}

.button:hover, .button:focus {
  background: #ecebeb;
}

.button-icon {
  width: 10px;
  height: 10px;
  fill: #d41443;
  stroke: #d41443;
  margin-left: 16px;
}

.header__menu-icon {
  width: 20px;
  height: 12px;
  fill: #d41443;
}

.header__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation {
  display: block;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 0;
}

.navigation__list-ltem-link {
  padding: 0;
  font-size: 14px;
  line-height: 1.285;
  text-decoration: none;
  display: block;
  padding: 0;
  height: 42px;
  line-height: 1.312;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
}

img {
  position: absolute;
}

.products {
  position: relative;
}

.container {
  min-width: 1280px;
  padding-left: 114px;
  padding-right: 112px;
}

.products__title {
  text-align: center;
  text-transform: uppercase;
}

.products__subtitle {
  text-align: center;
  text-transform: uppercase;
}

.products__item {
  -ms-flex-preferred-size: calc((100% - 24px) / 2);
      flex-basis: calc((100% - 24px) / 2);
}

.products__name {
  color: white;
  padding-top: 163px;
  padding-right: 78px;
  padding-left: 77px;
  text-transform: uppercase;
  text-align: center;
}

.products__div {
  width: 330px;
  height: 525px;
  border-radius: 24px;
}

.products__div__ice-cream {
  background-color: #FFB8CA;
}

.products__div__ice-coffee {
  background-color: #F0D1A5;
}

.products__div__milkshakes {
  background-color: #C2E297;
}

.products__description {
  color: white;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 70px;
  text-align: center;
}

.products__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* text-align: center; */
  top: 0;
  left: 0;
  padding-right: 40px;
}

.advantages {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.advantages__title {
  display: none;
}

.advantages__icon--milk:before {
  display: block;
  content: '';
  height: 50px;
  width: 33px;
  background-image: url("/images/advantage-icon-milk.jpg");
  background-repeat: no-repeat;
  background-position: center;
  fill: none;
  margin-bottom: 16px;
}

.advantages__icon--fruits:before {
  display: block;
  content: '';
  height: 50px;
  width: 50px;
  background-image: url("/images/advantage-icon-fruit.jpg");
  background-repeat: no-repeat;
  background-position: center;
  fill: none;
  margin-bottom: 16px;
}

.advantages__icon--heart:before {
  display: block;
  content: '';
  height: 50px;
  width: 44px;
  background-image: url("/images/advantage-icon-heart.jpg");
  background-repeat: no-repeat;
  background-position: center;
  fill: none;
  margin-bottom: 16px;
}

.advantages__caption {
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .advantages__caption {
    font-size: 48px;
    line-height: 1.145;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__caption {
    font-size: 58px;
    line-height: 1.137;
  }
}

.advantages__text {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.02em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.714;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.75;
  }
}

.advantages__item {
  width: 230px;
  min-height: 156px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: 180px;
    min-height: 226px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item {
    width: 330px;
    min-height: 222px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0%;
}

h3 {
  margin: 0%;
}

ul {
  margin: 0%;
}

.contacts {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(92%, #fff5f6), color-stop(8%, #fff));
  background-image: linear-gradient(to top, #fff5f6 92%, #fff 8%);
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(82%, #fff5f6), color-stop(18%, #fff));
    background-image: linear-gradient(to top, #fff5f6 82%, #fff 18%);
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    background-image: url("/images/contacts-background.png"), -webkit-gradient(linear, left bottom, left top, color-stop(82%, #fff5f6), color-stop(18%, #fff));
    background-image: url("/images/contacts-background.png"), linear-gradient(to top, #fff5f6 82%, #fff 18%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.contacts__title {
  display: none;
}

.contacts__wrapper {
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
}

.contacts__wrapper:not(:last-child) {
  margin-bottom: 20px;
  padding: 43px 40px;
}

@media screen and (min-width: 768px) {
  .contacts__wrapper {
    width: 220px;
  }
  .contacts__wrapper:not(:first-child) {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__wrapper {
    width: 330px;
  }
  .contacts__wrapper:not(:first-child) {
    margin-left: 30px;
  }
}

.contacts__category {
  padding: 0 15px;
  background: #f0d1a5;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  display: inline-block;
  letter-spacing: 0.04em;
  font-family: DM Sans;
  font-style: normal;
  margin: 0%;
  margin-bottom: 25px;
}

.contacts__category--green {
  background: #c2e297;
}

.contacts__adress:not(:last-child) {
  margin-bottom: 25px;
}

.contacts__adress-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  letter-spacing: 0.04em;
}

.contacts__adress-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}

.contacts__adress:not(:last-child) {
  margin-right: 10px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 25px;
}

.contacts__work {
  padding: 0%;
}

.contacts__list {
  padding: 0%;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.contacts__adress-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.contacts__hours .contacts__adress-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  color: #ffa5ba;
  margin-bottom: 10px;
}

.contacts__button {
  display: inline-block;
  font-size: 16px;
  line-height: 1.312;
  border: none;
  border-radius: 22px;
  min-width: 160px;
  cursor: pointer;
  padding: 10px 17px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__button:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts__button {
    min-width: 190px;
  }
  .contacts__button:not(:last-child) {
    margin-right: 15px;
    margin-bottom: -10px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__button {
    min-width: 198px;
  }
}

.contacts__button--pink {
  background-color: #d41443;
  color: #ffffff;
}

.contacts__button--white {
  background-color: #ffffff;
  color: #d41342;
}

.contacts__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .contacts__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 60px;
  }
}

.contacts__button--pink:hover, .contacts__button--pink:focus {
  background-color: #c7133e;
}

.contacts__button--white:hover, .contacts__button--white:focus {
  background-color: #ecebeb;
}

.contacts-icon__pink {
  fill: none;
  stroke: #d41342;
  margin-left: 8px;
}

.contacts__icon--white {
  fill: none;
  stroke: #ffffff;
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .contatcs__box {
    margin-bottom: 54px;
  }
}

@media screen and (min-width: 768px) {
  .contatcs__box {
    margin-left: 40px;
    margin-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .contatcs__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contacts_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background-color: var(--light-bgd);
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__title {
  margin-bottom: 43px;
  width: 232px;
  height: auto;
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: left;
  color: var(--sec-text-color);
}

@media screen and (min-width: 768px) {
  .footer__title {
    margin-bottom: 91px;
    width: 340px;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .footer__title {
    margin-bottom: 97px;
    margin-right: 257px;
    width: 472px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer__title_margin {
  display: block;
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .footer__title_margin {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__title_margin {
    margin-bottom: 15px;
  }
}

.footer__title_part {
  display: block;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer__title_part {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1280px) {
  .footer__title_part {
    font-size: 58px;
    line-height: 1.14;
  }
}

.footer__inner {
  margin-left: auto;
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer__inner {
    width: 268px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer__inner {
    width: 319px;
    margin-left: auto;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

.social__item:not(:last-child) {
  margin-right: 28px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--social-bgd);
  color: var(--main-text-color);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .social__link {
    width: 34px;
    height: 34px;
  }
}

.social__icon {
  fill: currentColor;
}

.footer__text {
  margin: 0 0 43px auto;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.83;
  text-align: right;
  color: var(--black-text-color);
}

@media screen and (min-width: 768px) {
  .footer__text {
    margin: 0 0 0 auto;
    font-size: 14px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1280px) {
  .footer__text {
    white-space: pre-wrap;
    font-size: 16px;
    line-height: 1.86;
  }
}

.footer__link {
  color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: var(--accent-hover);
}

.footer__copyright {
  display: block;
  width: 150px;
  padding-top: 22px;
  margin: 0 auto 25px auto;
  border-top: 1px solid #e1e1e1;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--grey-text-color);
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    width: 100%;
    padding-top: 29px;
    margin: 0 auto 18px auto;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1280px) {
  .footer__copyright {
    padding-top: 9px;
    margin: 0 auto 10px auto;
  }
}
/*# sourceMappingURL=main.css.map */