:root {
  --accent-color: #d41443;
  --main-text-color: #ffffff;
  --sec-text-color: #ffa5ba;
  --black-text-color: #000000;
  --grey-text-color: #907e82;

  --pink-bgd: #ffb8ca;
  --mobile-menu-bgd: #e17992;
  --beige-bgd: #f0d1a5;
  --green-bgd: #c2e297;
  --light-bgd: #fff5f6;

  --social-bgd: #fea5bb;
}
