<section class="about"  id="how-its-work">
    <div class="container about__container">
        <p class="about__pretitle">
            tradition and love
        </p>
        <h2 class="about__title">
            how it’s made?
        </h2>
        <div class="about__content">
        <picture>
            <source srcset="./images/about-desk1x.png 1x, ./images/about-desk2x.png 2x" media="(min-width: 1280px)">
            <source srcset="./images/about-tab1x.png 1x, ./images/about-tab2x.png 2x" media="(min-width: 768px)">
            <source srcset="./images/about-mob1x.png 1x, ./images/about-mob2x.png 2x" media="(min-width: 320px)">
            <img src="./images/about-mob1x.png" alt="cow">
        </picture>
        <div class="about__wrapper">
            <ul>
                <li class="about__item">
                <p class="about__text about__text-color">
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
                eros. Maecenas eleifend erat at justo fringilla.
                </p>
                </li>
                <li class="about__item">
                <p class="about__text">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
               </p>
                </li>
                <li class="about__item">
                <p class="about__text">
                Aliquam erat volutpat. Aenean accumsan.
                </p>
                </li>
            </ul> 
                <button data-modal-open class="about__button">
                Read more
                <svg class="contacts-icon__pink" width="3.61px" height="8">
                    <use href="/images/contacts.svg#contacts-icon"></use>
                </svg>
                </button>           
        </div>
        </div>
    </div>
</section>
<!-- modal -->
<div class="about-modal is-hidden" data-modal>
    <div class="about-modal__container">
        <button class="about-modal__close" data-modal-close>
            <svg width="24" height="16">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <section>
         <p class="about-modal__pretitle">ORCI VARIUS</p>
            <h2 class="about-modal__title">TORQUENT</h2>
        <div class="about-modal__content">
        <img class="about-modal__img" src="./images/icecream2-about-pic1.jpeg" alt="imeg-modal">
            <div class="about-modal__wrapper">
            <ul class="about-modal__list">
                <li class="about-modal__item">
                    <p class="about-modal__text about__text-color">Vivamus in diam turpis. In condimentum maximus tristique. Maecenas non laoreet odio. Fusce lobortis porttitor purus, vel
                    vestibulum libero pharetra vel. Pellentesque lorem augue, fermentum nec nibh et, fringilla sollicitudin orci.</p>
                </li>
                <li class="about-modal__item">
                    <p class="about-modal__text">Integer pharetra magna non ante blandit lobortis. Sed mollis consequat eleifend. Aliquam consectetur orci eget dictum
                    tristique. Aenean et sodales est, ut vestibulum lorem. Ut ultricies imperdiet sodales. Aliquam fringilla.</p>
                </li>
                <li class="about-modal__item">
                    <p class="about-modal__text">Integer magna purus, commodo in diam nec, pretium auctor sapien. In pulvinar, ipsum eu dignissim facilisis, massa justo
                    varius purus, non dictum elit nibh ut massa.</p>
                </li>
            </ul>
            <button type="submit" class="about-modal__button">Read more</button>
            </div>
        </div>
        </section>
        <section>
            <p class="about-modal__pretitle">MEET</p>
            <h2 class="about-modal__title">OUR TEAM</h2>
            <button type="submit" class="about-modal__button">Contact us</button>
        <ul class="team__list">
            <li class="team__list__card">
                <img class="about-modal__img" src="./images/team-about-pic2.png" alt="imeg-modal-team">
                <div class="team__list__box">
                    <h3 class="team__list__name">NAO</h3>
                    <p class="team__list__description">Velit commodo</p>
                </div>
            </li>
            <li class="team__list__card">
                <img class="about-modal__img" src="./images/team-about-pic3.png" alt="imeg-modal-team">
                <div class="team__list__box">
                    <h3 class="team__list__name">AGNES</h3>
                    <p class="team__list__description">Mauris maximus</p>
                </div>
            </li>
            <li class="team__list__card">
                <img class="about-modal__img" src="./images/team-about-pic4.png" alt="imeg-modal-team">
                <div class="team__list__box">
                    <h3 class="team__list__name">MARIE</h3>
                    <p class="team__list__description">Sed ultrices</p>
                </div>
            </li>
        </ul>
        </section>
    </div>
</div>