<section class="about">
    <div class="container">
        <p class="about__pretitle">
            tradition and love
        </p>
        <h2 class="about__title">
            how it’s made?
        </h2>
        <picture>
            <source srcset="./images/about-desk1x.png 1x, ./images/about-desk2x.png 2x" media="(min-width: 1280px)">
            <source srcset="./images/about-tab1x.png 1x, ./images/about-tab2x.png 2x" media="(min-width: 768px)">
            <source srcset="./images/about-mob1x.png 1x, ./images/about-mob2x.png 2x" media="(min-width: 320px)">
            <img src="././images/about-mob1x.png" alt="cow">
        </picture>
        <div>
        <p class="about__text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
            eros.
            Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text about__text-color">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
            placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            <br>
            Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about__button">
            Read more
        </button>
        </div>
    </div>
</section>