
<section class="contacts" id="location">
<div class="container">
<h2 class="contacts__title">Contacts</h2>
<ul class="contatcs__box">
<li class="contacts__wrapper">

    <div class="contacts__adress">
    <p class="contacts__category">CAFE</p>
        <h3 class="contacts__adress-title">Chicago</h3>
        <p  class="contacts__adress-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>

    <div class="contacts__adress">
    <ul class="contacts__work">
        <li class="contacts__hours">
            <h3 class="contacts__adress-title">Monday - Friday</h3>
            <p class="contacts__adress-text">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__hours">
            <h3 class="contacts__adress-title">Saturday - Sunday</h3>
            <p class="contacts__adress-text">08:00 AM - 16:00 PM</p>
        </li>
    </ul>
    </div>

    <div class="contacts__adress">
        <ul class="contacts__list">
            <li class="contacts__list-item">
                <a class="contacts__list-link" href="tel:+610383766284">
                    +61(0) 383 766 284
                </a>
            </li>
            <li class="contacts__list-item">
                <a class="contacts__list-link" href="mail:noreply@envato.com">
                    noreply@envato.com
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="contacts__wrapper">
    <div class="contacts__adress">
    <p class="contacts__category contacts__category--green">FOODTRUCK</p>
    <div class="contacts__adress">
        <h3 class="contacts__adress-title">Los Angeles</h3>
        <p class="contacts__adress-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    </div>

    <div class="contacts__adress">
    <ul class="contacts__work">
        <li class="contacts__hours">
            <h3 class="contacts__adress-title">Monday - Friday</h3>
            <p class="contacts__adress-text">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__hours">
            <h3 class="contacts__adress-title">Saturday - Sunday</h3>
            <p class="contacts__adress-text">08:00 AM - 16:00 PM</p>
        </li>
    </ul>
    </div>
    
    <div class="contacts__adress">
        <ul class="contacts__list">
            <li class="contacts__list-item">
                <a class="contacts__list-link" href="tel:+610383766284">
                    +61(0) 383 766 284
                </a>
            </li>
            <li class="contacts__list-item">
                <a class="contacts__list-link" href="mail:noreply@envato.com">
                    noreply@envato.com
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="contacts__wrapper">
    <div class="contacts__adress">
    <p class="contacts__category">CAFE</p>
    <div class="contacts__adress">
        <h3 class="contacts__adress-title">New York</h3>
        <p class="contacts__adress-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    </div>

    <div class="contacts__adress">
        <ul class="contacts__work">
            <li class="contacts__hours">
                <h3 class="contacts__adress-title">Monday - Friday</h3>
                <p class="contacts__adress-text">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__hours">
                <h3 class="contacts__adress-title">Saturday - Sunday</h3>
                <p class="contacts__adress-text">08:00 AM - 16:00 PM</p>
            </li>
        </ul>
    </div>

    <div class="contacts__adress">   
        <ul class="contacts__list">
            <li class="contacts__list-item">
                <a class="contacts__list-link" href="tel:+610383766284">
                    +61(0) 383 766 284
                </a>
            </li>
            <li class="contacts__list-item">
                <a class="contacts__list-link" href="mail:noreply@envato.com">
                    noreply@envato.com
                </a>
            </li>
        </ul>
    </div>
</li>
</ul>

<div class="contacts__buttons">
<button type="button" class="contacts__button contacts__button--pink" data-modal-open> <span class="contacts__button-text">Our Locations
    <svg class="contacts__icon--white" width="3.61px" height="8">
    <use href="/images/contacts.svg#contacts-icon"></use>
    </svg>
</span></button>
<button type="button" class="contacts__button contacts__button--white"><span class="contacts__button-text">Franchise
    <svg class="contacts-icon__pink" width="3.61px" height="8">
        <use href="/images/contacts.svg#contacts-icon"></use>
    </svg>
</span></button>
</div>

</div>
</section>

<div class="modal is-hidden" id="modal" data-modal>
    <div class="modal-content" id="modal-content">
        <button data-modal-close type="button" class="modal__close-button">
            <svg class="close-icon" width="14px" height="14px">
                <use href="./images/close.svg#icon-close"></use>
            </svg>
        </button>
   <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d423286.27405770525!2d-118.69192047471653!3d34.02016130653294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x80c2b9b726cf36cf%3A0x1f949240795a3d0b!2s3430%20South%20La%20Brea%20Ave%2C%20Los%20Angeles%2C%20CA%2090016%2C%20%D0%A1%D0%A8%D0%90!3m2!1d34.023918699999996!2d-118.3545956!5e0!3m2!1sru!2sua!4v1626686697684!5m2!1sru!2sua" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>   
</div>


