<section class="customer-reviews">
    <div class="container">
        <h2 class="customer-reviews__title">Customer-reviews</h2>
        <ul class="customer-reviews__list">
            <li class="customer-reviews__item">
                <img src="./images/customer1-1x.png">
                <div class="customer-reviews__wrapper">
                    <p class="customer-reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <p class="customer-reviews__client-data">
                    Emily, Los Angeles
                </p>
            </li>
        </ul>
    </div>
</section>