<section class="customer-reviews">
  <div class="container">
    <h2 class="customer-reviews__title visually-hidden">Customer-reviews</h2>
    <div class="multiple-items">
      <div class="customer-reviews__item">
        <img srcset="./images/customer1-1x.png 1x, ./images/customer1-2x.png 2x" "
        src="./images/customer1-1x.png" class="customer-reviews__img" width="85">

        <div class="customer-reviews__wrapper">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-reviews__client-data">
          Emily, Los Angeles
        </p>
      </div>
      <div class="customer-reviews__item">
        <img srcset="./images/customer2-1x.png 1x, ./images/customer2-2x.png 2x" " src="
        ./images/customer2-1x.png" class="customer-reviews__img" width="85">
        <div class="customer-reviews__wrapper">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-reviews__client-data">
          Emily, Los Angeles
        </p>
      </div>
      <div class="customer-reviews__item">
        <img srcset="./images/customer3-1x.png 1x, ./images/customer3-2x.png 2x" " src="
        ./images/customer3-1x.png" class="customer-reviews__img" width="85">
        <div class="customer-reviews__wrapper">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-reviews__client-data">
          Emily, Los Angeles
        </p>
      </div>
    </div>
  </div>
</section>
