<footer class="footer">
    <div class="container">
<p class="footer__title"><span class="footer__title_margin">homemade ice cream made</span><span class="footer__title_part">with passion</span></p>
<div class="footer__inner">
<ul class="social__list">
    <li class="social__item">
        <a href="#" class="social__link"><svg class="social__icon" width="18" height="18"><use href="./images/sprite.svg#icon-github"></use></svg></a>
    </li>
    <li class="social__item">
        <a href="#" class="social__link"><svg class="social__icon" width="19" height="15">
            <use href="./images/sprite.svg#icon-telegram"></use>
        </svg></a>
    </li>
    <li class="social__item">
        <a href="#" class="social__link"><svg class="social__icon" width="9" height="19"><use href="./images/sprite.svg#icon-facebook"></use></svg></a>
    </li>
</ul>
<p class="footer__text">Feel free to contact<a href="tel:+610383766284" class="footer__link">&nbsp;+61 (0) 383 766 284</a></p>
</div>

<p class="footer__copyright"> &copy; 2019 - IceCream.
All Rights Reserved.</p>
</div>
</footer>