<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery grid</h2>
    <ul class="gread__list">
      <li class="gread__item gread__item-1">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery1.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-2">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery2.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-3">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery3.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-4">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery4.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-5">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery5.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-6">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery6.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-7">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery7.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-8">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery8.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-9">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery9.jpg" />
        </div>
      </li>
      <li class="gread__item gread__item-10">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery10.jpg" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>

