<section class="gallery">
    <picture class="background-gallery">
        <source srcset="
          ./images/gallery-d-1x.png   1x,
          ./images/gallery-d-2x.png 2x
          " media="(min-width: 1280px)" type="image/png" />
        <source srcset="
        ./images/gallery-t-1x.png   1x,
        ./images/gallery-t-2x.png 2x
        " media="(min-width: 768px)" type="image/png" />
        <source srcset="
        ./images/gallery-m-1x.png   1x,
        ./images/gallery-m-2x.png 2x
        " media="(min-width: 320px)" type="image/png" />
        <img src="./images/gallery-d-1x.png" alt="gallery" />
    </picture>
</section>
<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery grid</h2>
    <ul class="gread__list">
      <li class="gread__item gread__item-1">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery1.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-2">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery2.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-3">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery3.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-4">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery4.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-5">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery5.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-6">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery6.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-7">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery7.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-8">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery8.jpg" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-9">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery9.jpg" />
        </div>
      </li>
      <li class="gread__item gread__item-10">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="./images/gallery10.jpg" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>

