<header class="header">
    <div class="container header-container">
        <div class="header__mobile">
            <a class="logo" href="./index.html">
                <img src="../src/images/logo.png" alt="">
            </a>
            <button class="header__burger-button" type="button">
                <svg class="header__menu-icon">
                    <use href="../src/images/sprite.svg/#burger"></use>
                </svg>
            </button>
        </div>
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__list-ltem">
                    <a class="navigation__list-ltem-link" href="#hero">Home</a>
                </li>
                <li class="navigation__list-ltem">
                    <a class="navigation__list-ltem-link" href="#slider">About us</a>
                </li>
                <li class="navigation__list-ltem">
                    <a class="navigation__list-ltem-link" href="#how-its-made">How it’s made?</a>
                </li>
                <li class="navigation__list-ltem">
                    <a class="navigation__list-ltem-link" href="#products">Our products</a>
                </li>
                <li class="navigation__list-ltem">
                    <a class="navigation__list-ltem-link" href="#location">Contact</a>
                </li>
            </ul>
            <button class="button header-button">
                Buy now<svg class="button-icon">
                    <use href="../src/images/sprite.svg#arrow-btn"></use>
                </svg>
            </button>
        </nav>
    </div>


</header>