<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Section class="products">
        <p class="products__subtitle"> 100% natural</p>
        <h2 class="products__title"> products </h2>
        <div class="products__ice-cream"></div>
        <div class="products__ice-coffee"></div>
        <div class="products__milkshakes"></div>

    </Section>
</body>
</html>