
<section class="products">
    <div class="cointainer"> 
        <span class="products__subtitle"> 100% natural</span>
        <h2 class="products__title"> products </h2>
        <ul class="products__list" >
            <li class="products__item products__item--ice-cream ">
                <div class="products__div products__div__ice-cream ">
                    <h3 class="products__name">ice cream</h3>
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="products__arrow"> </button>
                </div>
            </li>
            <li class="products__item products__item--ice-coffee">
                <div class="products__div products__div__ice-coffee">
                    <h3 class="products__name" >ice coffee</h3>
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p> 
                    <button class="products__arrow"> </button>
                </div>
            </li>
            <li class="products__item products__item--milkshakes">
                <div class="products__div products__div__milkshakes">
                    <h3 class="products__name">milkshakes</h3>
                    <p class="products__description" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="products__arrow"> </button>
                </div>
            </li>
        </ul>           
    </div>
</section>

