    <section class="products">
        <div class="cointainer"> 
            <p class="products__subtitle"> 100% natural</p>
            <h2 class="products__title"> products </h2>
            <ul class="products__list" >
                <li class="products__item">
                    <img class="products__img" src="./images/pic1-m-1x.png" alt="ice-cream">
                    <div class="products__div products__div__ice-cream ">
                        <h3 class="products__name">ice cream</h3>
                        <img class="products__points" src="./images/points.png" alt="points">
                        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                        <button class="products__arrow"> </button>
                    </div>
                </li>
                <li class="products__item">
                    <img class="products__img" src="./images/pic2-m-1x.png" alt="ice-coffee">
                    <div class="products__div products__div__ice-coffee">
                        <h3 class="products__name" >ice coffee</h3>
                        <img class="products__points" src="./images/points.png" alt="points">
                        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p> 
                        <button class="products__arrow"> </button>
                    </div>
                </li>
                <li class="products__item">
                    <img class="products__img" src="./images/pic3-m-1x.png" alt="milkshakes">
                    <div class="products__div products__div__milkshakes">
                        <h3 class="products__name">milkshakes</h3>
                        <img class="products__points" src="./images/points.png" alt="points">
                        <p class="products__description" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                        <button class="products__arrow"> </button>
                    </div>
                </li>
            </ul>           
        </div>
    </section>

                   
