li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0%;
}

h3 {
  margin: 0%;
}

ul {
  margin: 0%;
}

.contacts {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-image: linear-gradient(to top, #fff5f6 92%, #fff 8%);

  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(to top, #fff5f6 82%, #fff 18%);
  }

  @media screen and (min-width: 1280px) {
    background-image: url('/images/contacts-background.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.contacts__title {
  display: none;
}

.contacts__wrapper {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    padding: 50px 30px;
    &:not(:first-child) {
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 330px;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 44px;
    padding-right: 44px;
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.contacts__category {
  padding: 0 15px;
  background: #f0d1a5;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  display: inline-block;
  letter-spacing: 0.04em;
  font-family: DM Sans;
  font-style: normal;
  margin: 0%;
  margin-bottom: 25px;
}

.contacts__category--green {
  background: #c2e297;
}

.contacts__adress {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.contacts__adress-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  letter-spacing: 0.04em;
}

.contacts__adress-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}

.contacts__adress:not(:last-child) {
  margin-right: 10px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 25px;
}

.contacts__work {
  padding: 0%;
}

.contacts__list {
  padding: 0%;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.contacts__adress-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.contacts__hours .contacts__adress-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  color: #ffa5ba;
  margin-bottom: 10px;
}

.contacts__button {
  display: inline-block;
  font-size: 16px;
  line-height: 1.312;
  border: none;
  border-radius: 22px;
  min-width: 160px;
  cursor: pointer;
  padding: 10px 17px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    min-width: 190px;
    &:not(:last-child) {
      margin-right: 15px;
      margin-bottom: -10px;
    }
  }
  @media screen and (min-width: 1280px) {
    min-width: 198px;
  }
}

.contacts__button--pink {
  background-color: #d41443;
  color: #ffffff;
}

.contacts__button--white {
  background-color: #ffffff;
  color: #d41342;
}

.contacts__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-top: 60px;
  }
}

.contacts__button--pink {
  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}

.contacts__button--white {
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.contacts-icon__pink {
  fill: none;
  stroke: #d41342;
  margin-left: 8px;
}

.contacts__icon--white {
  fill: none;
  stroke: #ffffff;
  margin-left: 8px;
}

.contatcs__box {
  @media screen and (max-width: 767px) {
    margin-bottom: 54px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: center;
  }
}

.contacts_link {
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visability 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-content {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 320px;
  // width: 100%;
  // max-height: 530px;
  // height: 100%;
  background-color: #e17992;
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  padding: 40px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1200px;
  }
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 6px 0 6px;
  background-color: #e17992;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // &:hover {
  //   fill: $accent-color;
  // }
  // &focus {
  //   fill: $accent-color;
  // }
}
