.customer-reviews__title {
  display: none;
}
.customer-reviews__item {
  text-align: center;
}
.customer-reviews__wrapper {
  background-color: #fafafa;
  padding-top: 43px;
  padding-bottom: 20px;
  padding-right: 57px;
  padding-left: 66px;
  margin-top: 29px;
  @media screen and (min-width: 768px) {
    padding-top: 47px;
    padding-bottom: 34px;
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 29px;
    margin-top: 19px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 39px;
    padding-right: 88px;
    padding-left: 88px;
    margin-top: 15px;
  }
}
.customer-reviews__text {
  position: relative;
  margin: auto;
  z-index: 1;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  color: var(--black-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.16;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.86;
    width: 750px;
  }
  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px
  );
  &::before {
    position: absolute;
    z-index: -1;
    content: ' ';
    width: 54px;
    height: 40px;
    background-repeat: no-repeat;
    top: -20px;
    left: 0px;
    fill: none;
    background: url('/images/customer-reviews-1.svg');
  }
}
.customer-reviews__img {
  margin: 0 auto;
}
.customer-reviews__client-data {
  position: relative;
  z-index: 1;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: var(--black-text-color);
  margin-top: 52px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    font-size: 19px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 22px;
  }
  &::before {
    position: absolute;
    z-index: -1;
    content: ' ';
    width: 32px;
    height: 4px;
    background-repeat: no-repeat;
    top: -20px;
    left: 45%;
    fill: none;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: url('/images/customer-reviews-2.svg');
    @media screen and (min-width: 768px) {
      top: -15px;
    }
  }
}
.slick-dots li button:before {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  opacity: 1;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-hover);
  }
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: transparent;
  background-color: transparent;
  border-radius: 0;
  background-image: url('/images/icons/home.svg');
}
